.footer {
  margin-top: 1em;
  margin-bottom: 1em;
  ul {
    display: inline-block;
    float: left;
    list-style-type: none;
    padding: 0;
  	width: 100%;
    li {
    	display: inline-block;
    	padding: 0 10px 0 10px;
      vertical-align: top;
      img {
      	display: block;
      	text-align: center;
        .about {
        	-moz-border-radius: 75px;
        	-webkit-border-radius: 75px;
        	-khtml-border-radius: 75px;
        	border-radius: 75px;
          margin-top: 20px;
          margin-bottom: 5px;
          width: 75px !important;
        }
      }
    }
  }
}

.footnote {
	width: 100%;
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
  p {
  	width: 60%;
  	font-size: .8em;
  	text-align: center;
  	display: inline-block;
  	margin-bottom: .5em;
  }
  .light a {
  	color: $blue-gray;
  }
}

// Not currently in index.html
.socialfooter {
	margin-top: 0;
	width: 100%;
	text-align: center;
	padding-right: 0;
	margin-right: 0;
}

/* Mobile */
@media (max-width: 480px) and (min-width: 321px) {
  .footer {
  	display: block;
  	float: left;
  	margin: 1em ;
    p {
      display: inline-block;
    	font-size: .8em;
    	margin-bottom: .5em;
      width: 100%;
      text-align: center;
    }
  }
}
