// Hero Section styling
.hero {
	align-items: center; /* align vertical */
	background: $warm-gray url("../../assets/images/bg.svg") no-repeat center center;
	display: flex;
	height: 490px;
	padding-top: 3em;
	text-align: left;
	width: 100%;
	.cover {
		display: inline-block;
		overflow: hidden;
		text-align: right;
		width: 50%;
	}
	.copy {
		display: inline-block;
		float: left;
		margin-left: 3em;
		text-align: left;
		width: 50%;
		h2 {
			color: $light-gray;
			font-family: $serif;
			font-size: 1.4rem;
			line-height: 1.4;
			margin-bottom: 1.4em;
			margin-top: .2em;
			padding-right: 4em;
			text-align: left;
		}
		a.purchase-button {
			color: $white;
			background-color: #BCD5A2;
			border-radius: 6px;
			font-family: $bold-sans-serif;
			font-size: 1.4rem;
			line-height: 1;
			padding: .7em .9em .7em .9em;
			margin-bottom: .5em;
			text-align: center;
			text-decoration: none;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			-khtml-border-radius: 6px;
			&hover {
				opacity: .8;
			}
		}
	}
}
// End Hero section styling

// Styling for Chapter section
.chapters {
	height: 430px;
	text-align: center;
	h3 {
		padding: 0 30% 0 30%;
		margin-bottom: 2em;
	}
	ul {
		display: inline-block;
		float: left;
		list-style-type: none;
		padding: 0;
		margin-top: 0;
		width: 100%;
		li {
			display: inline-block;
			padding: 0 10px 0 10px;
			margin: 0 2em 4em;
			vertical-align: top;
			img {
				display: block;
				margin: 0;
				text-align: center;
			}
		}
	}
}
// End Chapter section styling

// Sample section styling
.sample-container {
	height: 370px;
	vertical-align: top;
	.sample-headline {
		background-color: $baby-blue;
		display: inline-block;
		height: 100%;
		float: left;
		margin-right: 0;
		overflow: hidden;
		width: 40%;
		h2 {
			color: $white;
		  font-size: 4rem;
		  margin: 0 0 0 8%;
		  text-align: left;
		}
		h4 {
			color: $dark-baby-blue;
			font-family: $bold-sans-serif;
			font-size: 1rem;
			letter-spacing: .5px;
			margin-top: 60px;
			padding: 0 0 0 8%;
			text-align: left;
			text-transform: uppercase;
			span {
				border-bottom: 3px solid $dark-baby-blue;
				padding-bottom: .3em;
			}
		}
	}
	.sample-copy {
		background-color: #F4F8FA;
		font-family: $serif;
		font-size: 1.3rem;
		display: inline-block;
		height: 100%;
		margin: 0;
		text-align: left;
		width: 60%;
		.sample-copy-container {
			padding: 0 10% 0 8%;
			margin: 60px 0 60px 0;
		}
		p {
		  color: $baby-blue;
			font-size: 1.25rem;
			margin-bottom: 1em;
			margin-top: 0;
		}
	}
}
// End Sample section styling

// Begin Quote section styling
// TODO: fade-in-fade-out this section
.quotes {
	height: 300px;
	margin-top: .5em;
	text-align: center;
	width: 100%;
	.quote {
		align-items: center; /* align vertical */
		display: inline-block;
		display: flex;
		float: left;
		justify-content: center; /* align horizontal */
		min-height: 100%;
		text-align: center;
		width: 33.33333%;
		h3 {
			font-family: $bold-serif;
			font-size: 1.8rem;
			line-height: 1.6;
			margin-bottom: 0;
			padding: 1em;
			text-align: center;
			span {
				background-color: $green;
				box-decoration-break: clone;
				color: $white;
				padding: .2em;
				-webkit-box-shadow: 0.5em 0px 0px #BCD5A2, -0.5em 0px 0px #BCD5A2;
				box-shadow: 0.5em 0px 0px #BCD5A2, -0.5em 0px 0px #BCD5A2;
			}
		}
	}
}
