// Colors
$purple: #64627C;
$blue-violet: #42459D;
$baby-blue: #95CEDF;
$dark-baby-blue: #7FB9CB;
$green: #BCD5A2;
$gray: #69717b;
$dark-gray: #697480;
$light-gray: #A2A1B0;
$blue-gray: #ADB7C0;
$warm-gray: #fafafc;
$white: #FFFFFF;

// Fonts
$sans-serif: 'Bariol-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bold-sans-serif: 'Bariol-Bold';
$specialty-bold: 'KievitWebPro-Bold';
$serif: 'Bariol-Serif-Regular';
$bold-serif: 'Bariol-Serif-Bold';
