// Colors
$purple: #64627C;
$blue-violet: #42459D;
$gray: #69717b;
$dark-gray: #697480;
$light-gray: #A2A1B0;
$white: #FFFFFF;

// Fonts
$sans-serif: 'Bariol-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bold-sans-serif: 'KievitWebPro-Bold';
