@import "reset";
@import "grid"; // might be able to delete, doesn't appear to be used anywhere
@import "fonts";
@import "animation";
@import "variables";
@import "typography";
@import "homepage";
@import "footer";
@import "oldstyle"; // will be removed once everything's been separated out

// Base styles
body {
	font: 16px/1.5 $sans-serif;
	background-color: $white;
	color: $purple;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}

ul, ol, dl, blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

ul, li {
	color: $dark-gray;
	list-style: disc;
	line-height: 1.5em;
	list-style-position: inside;
	-webkit-font-smoothing: antialiased;
}

a {
  color: $dark-gray;
  text-decoration: underline;
  :hover {
    opacity: 0.7;
    text-decoration: none;
  }
  // might need to add a visited state here
}

// Social styles
.social {
	width: 100%;
	text-align: right;
	position: fixed;
	margin-right: 0;
	padding-right: 20px;
}

.fb {
	width: 130px;
	padding-top: 7px;
}

.twitter-share-button {
	margin-right: 5px;
}

// Price tag styles
.price-tag {
	font-size: 2em;
	line-height: 1em;
	text-align: center;
	position: absolute;
	top: 17px;
	left: 277px;
	color: $white;
	background-color: #F4B400;
	-moz-border-radius: 600px;
	-webkit-border-radius: 600px;
	-khtml-border-radius: 600px;
	border-radius: 600px;
	padding: 24px 23px 22px 23px;
}
